.installed.cfg
bin/
develop-eggs/
dist/
build/
examples/*.msdeploy/MANIFEST
examples/*.msdeploy/Manifest.xml
examples/*.msdeploy/iis_install.stamp
examples/*.msdeploy/web.config
examples/*.msdeploy/__msdeploy_*
Include/
Lib/
Scripts/
local/