<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <fastCgi>
      <!-- Can't use environment variables in monitorChangesTo -->
      <!-- TODO getting an error on first page load but works fine on
           refresh and thereafter -->
      <application
          fullPath="&quot;{APPL_PHYSICAL_PATH}\Scripts\python.exe&quot;"
          arguments="-u &quot;{APPL_PHYSICAL_PATH}\Scripts\iiswsgi-script.py&quot; -vv -c &quot;{APPL_PHYSICAL_PATH}\iis_fcgi.ini&quot;"
          monitorChangesTo="C:\Python27\Scripts\iiswsgi-script.py"
          maxInstances="1" />
    </fastCgi>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!-- allow ++namespace++ URLs -->
      </requestFiltering>
    </security>
    <handlers>
      <add name="pyramid.app"
	   scriptProcessor="&quot;{APPL_PHYSICAL_PATH}\Scripts\python.exe|-u &quot;{APPL_PHYSICAL_PATH}\Scripts\iiswsgi-script.py&quot; -vv -c &quot;{APPL_PHYSICAL_PATH}\development.ini&quot;"
	   path="*" verb="*"
	   modules="FastCgiModule"/>
    </handlers>
  </system.webServer>
</configuration>
