<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <fastCgi>
      <application fullPath="C:\Python27\python.exe" arguments="-u C:\Python27\Scripts\iiswsgi-script.py" monitorChangesTo="C:\Python27\Scripts\iiswsgi-script.py" maxInstances="1" />
    </fastCgi>
    <security>
      <requestFiltering allowDoubleEscaping="true">
      </requestFiltering>
    </security>
    <handlers>
      <add name="iiswsgi.test_app"
	   scriptProcessor="C:\Python27\python.exe|-u C:\Python27\Scripts\iiswsgi-script.py"
	   path="*" verb="*"
	   modules="FastCgiModule"/>
    </handlers>
  </system.webServer>
</configuration>
