<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
      </requestFiltering>
    </security>
    <handlers>
      <add name="iisfcgi.test_app"
	   scriptProcessor="C:\Python27\python.exe|-u C:\Python27\Scripts\iisfcgi-script.py"
	   path="*" verb="*"
	   modules="FastCgiModule"/>
    </handlers>
  </system.webServer>
</configuration>
